* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
a {
    text-decoration: none;
}
nav a:link, a:visited {
    color: #fff;
}
nav a:active {
    color: yellow;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(108, 139, 185);
}
h2 {
    font-size: 1.3em;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 1.1em;
}
p {
    font-size: 0.9em;
    line-height: 1.5;
}
#container {
    width: 100%;
}
section {
    margin: 40px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
}
.text {
    margin-top: 20px;
}
header {
    width: 100%;
    height: 260px;
    background: url(../imgs/main.jpg)no-repeat center;
    background-size: cover;
}
nav {
    height: 50px;
    background-color: rgb(114, 139, 175);
}
#main-nav {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}
#main-nav li {
    display: inline-block;
    color: #fff;
    font-size: 0.8em;
    margin: 5px 1.1%;
}
.photo {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10%;
    text-align: center;
}
.photo img {
    width: 100%;
}
#intro p {
    margin-top: 10px;
    text-align: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
td, th{
    border: 1px solid;
    padding: 1px 3px;
}
th {
    background-color: #8faafa;
    color: #fff;
    border: 1px solid;
}
.top, .bottom {
    width: 250px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}
.btn img {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.btn p {
    width: 80px;
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
}
.cen {
    text-align: center;
    margin-top: 10px;
}

.board {
    border: 1px solid white;
    border-radius: 20%;
}
.text ul {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.text li {
    font-size: 0.8125em;
}
span {
    color: #ff2828;
    font-weight: bold;
}
.pc {
    margin-top: 10px;
    font-size: 0.7em;
    text-align: center;
}
footer {
    background-color: #000;
}
footer p {
    text-align: center;
    color: #fff;
}